@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-ccwhite
  /* TODO: This is the default way that Next does this
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

h1 {
  @apply text-3xl uppercase text-ccblack-dark
}

h2 {
  @apply text-2xl uppercase text-ccblack-dark
}

h3{
  @apply text-xl uppercase text-ccblack-dark
}

h4 {
  @apply text-xl text-ccblack-dark
}

h5 {
  @apply text-lg text-ccblack-dark uppercase
}

h1, h2, h3, h4, h5, h6 {
  @apply py-2.5
}

p {
  @apply text-base text-ccgray-dark py-2.5
}

span {
  @apply text-base text-ccgray-dark
}

/* TODO: This button is not quite right but it's getting there */
.cc-button {
  @apply bg-ccblue-dark text-ccwhite px-[40px] py-[10px] hover:bg-ccblue-light uppercase text-[15px] font-bold tracking-[2px]
}

/* TODO: What font are they actually using here for their title? */
.humani-title {
  @apply text-6xl text-ccwhite capitalize 
}

.checkbox-sm:checked + .label{
/* TODO: can't get this to select properly */
}

