# Core
typing-extensions

# Configuration
pyyaml

# Validation
pydantic

# Pandas
pandas
geopandas
openpyxl
pyarrow
pyogrio
pyxlsb
shapely

# Django
psycopg2-binary
django
django-configurations
django-cors-headers
django-geo

# Google Cloud
google
google-cloud
google-cloud-storage

# Mapbox
mapbox